<div class="container">

    <div class="jumbotron">
        <h1> Get Ya Burgers!</h1>
        <br>
        <h2> Order Your Burger Here</h2>
        <panel>
            <form class="orderform">
                <div class="forminput">
                    <label for="burger"> Order Now!</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit" id="addburger">Order</button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading" id=leftside><strong>Your Burgers!</strong></div>
                <div class="panel-body">

                    <ul>
                        {}
                    </ul>


                </div>
            </div>
        </div>


    </div>

</div>